In [1]:
# Importando as bibliotecas necessárias
import pandas as pd
import numpy as np

In [2]:
# Criando os dados de vendas e despesas em um DataFrame
#hashtag: Criando a tabela com valores, incluindo valores ausentes (NA)
dados = {
    'Região': ['Norte', 'Norte', 'Sul', 'Sul', 'Norte'],
    'Mês': ['Jan', 'Fev', 'Jan', 'Fev', 'Mar'],
    'Vendas': [1500, np.nan, 2200, 1800, 2000],
    'Despesas': [300, 250, np.nan, 400, 350]
}

df = pd.DataFrame(dados)

In [3]:
# Salvando o arquivo como .xlsx
#hashtag: Salvando o arquivo como Excel
df.to_excel('vendas.xlsx', index=False)

In [4]:
# Carregando o arquivo .xlsx
#hashtag: Carregando os dados do Excel
df = pd.read_excel('vendas.xlsx')

In [5]:
# Inspecionando os dados
print("Dados Originais:")
print(df)

Dados Originais:
  Região  Mês  Vendas  Despesas
0  Norte  Jan  1500.0     300.0
1  Norte  Fev     NaN     250.0
2    Sul  Jan  2200.0       NaN
3    Sul  Fev  1800.0     400.0
4  Norte  Mar  2000.0     350.0

In [13]:
# Substituindo valores ausentes
#hashtag: Substituindo NA da coluna Vendas pela mediana
df['Despesas'] = df['Despesas'].fillna(df['Despesas'].mean())

In [14]:
#hashtag: Substituindo NA da coluna Despesas pela média
df['Despesas'] = df['Despesas'].fillna(df['Despesas'].mean())

In [8]:
# Agrupando por Região e Mês
agrupado = df.groupby(['Região', 'Mês']).agg({
    'Vendas': 'sum',
    'Despesas': 'mean'
}).reset_index()

In [16]:
print("\nDados Agrupados:")
print(agrupado)

Dados Agrupados:
  Região  Mês  Vendas  Despesas
0  Norte  Fev  1900.0     250.0
1  Norte  Jan  1500.0     300.0
2  Norte  Mar  2000.0     350.0
3    Sul  Fev  1800.0     400.0
4    Sul  Jan  2200.0     325.0

In [10]:
# Combinando colunas Vendas e Despesas
#hashtag: Combinação horizontal das colunas numéricas
combinado = np.hstack([df[['Vendas']].values, df[['Despesas']].values])
print("\nColunas Combinadas (Vendas e Despesas):")
print(combinado)

Colunas Combinadas (Vendas e Despesas):
[[1500.  300.]
 [1900.  250.]
 [2200.  325.]
 [1800.  400.]
 [2000.  350.]]

In [11]:
# Sumário estatístico
#hashtag: Estatísticas descritivas para colunas numéricas
print("\nSumário Estatístico:")
print(df.describe())

Sumário Estatístico:
            Vendas    Despesas
count     5.000000    5.000000
mean   1880.000000  325.000000
std     258.843582   55.901699
min    1500.000000  250.000000
25%    1800.000000  300.000000
50%    1900.000000  325.000000
75%    2000.000000  350.000000
max    2200.000000  400.000000